.project-container {
    max-width: 1300px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 40px 7rem;
    grid-gap: 60px;
    align-items: flex-end;
}

.project-card {
    border: 1px solid #ffffff;
}

.project-img img{
    width: 100%;
    height: 30%;
}

.project-title {
    color: white;
    padding: 1rem 0;
    text-align: center;
}

.project-details p {
    padding-bottom: 1rem;
    font-size: 1.1rem;
    text-align: center;
    padding: 0 3rem;
    text-align: justify;
}

.project-btns {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 4rem 3rem;
}

.project-btns .btn{
    padding: 0.5rem 1.5rem;
}


@media screen and (max-width: 740px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}