.card-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 4rem 40px;
}

.card {
    border: 1px solid #eee;
    color: #eee;
    text-align: center;
    padding: 2rem;
    transform: translateY(20px); /* Optional: Add a subtle upward movement */
    transition: transform 0.5s ease; /* Add transitions for smooth fading and movement */
}

/* Apply the animation when the card enters the viewport */
.card.in-viewport {
    transform: translateY(-20px); /* Optional: Reset the position */
}

.card h3 {
    font-size: 1.4rem;
    padding: 1rem;
}

.card p {
    padding: 20px 0;
}

@media screen and (max-width: 740px) {
    .card-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
